.background-image {
    background-image: url('/static/img/web_page_image.webp');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}
