
{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Search and Filters -->
<div class="search-filters">
    <!-- Implement search and filter form -->
</div>

    <nav class="container-fluid">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'img/new_logo.webp' %}" alt="GuideMe Logo" style="width: 50px; height: auto;">
        </a>
    </nav>
<!-- All Tours -->
<div class="all-tours">
    <h2>All Tours</h2>
    {% for tour in tours %}
    <div class="tour">
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description }}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'tours:book_tour' tour.id %}">Book</a>
            <div class="tour-reviews">
                <h4>Reviews</h4>
                <a href="{% url 'tours:add_review' tour.id  %}">Add Review</a>
                {% for review in tour.reviews.all %}
                    <div class="review">
                        <strong>{{ review.author.user.username }}</strong> <!-- Adjust based on your user model relationship -->
                        <p>Rating: {{ review.rating }}</p>
                        <p>{{ review.content }}</p>
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>
            <!-- Include other actions like rate, save, etc. -->
        {% else %}
            <p><a href="{% url 'users:login' %}">Log in</a> to book or rate tours.</p>
        {% endif %}
        <!-- Display Reviews for Each Tour -->

    </div>
    {% endfor %}
</div>
{% endblock %}
