<!-- tours/templates/tours/tour_list.html -->

{% extends "base.html" %}

{% block content %}
<h2>Available Tours</h2>
<ul>
    <a href="{% url 'tours:create' %}">Create New Tour</a>
    {% for tour in tours %}
    <li>
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description }}</p>
        <p>Price: ${{ tour.price }}</p>
        <p>Start Date: {{ tour.availability_start }}</p>
        <p>End Date: {{ tour.availability_end }}</p>
        {% for image in tour.images.all %}
            <img src="{{ image.image.url }}" alt="Image of {{ tour.title }}" style="width: 50px; height: auto;">
        {% empty %}
            <p>No images available.</p>
        {% endfor %}

        {% if user_boolean %}
            <form action="{% url 'tours:delete' tour.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="tour_id" value="{{ tour.id }}">
                <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
            </form>
        {% endif %}


        <!-- Add more tour details here -->
    </li>
    {% empty %}
    <p>No tours available at the moment.</p>
    {% endfor %}
</ul>
{% endblock %}
