{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_styles %}
{% block content %}
<div class="profile-container">

    <a href="{% url 'users:edit_profile' %}">Edit Profile</a>
    {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile Image" class="rounded-circle">
    {% else %}
        <img src="{% static 'img/user.png' %}" alt="Default Profile Image" class="rounded-circle">
    {% endif %}


    <!-- Profile Details -->
    <div class="profile-details">
        <h2>About</h2>
        <p><strong>Biography:</strong> {{ user.profile.bio }}</p>
        {% if user.profile.is_guide %}
            <p><strong>Experience:</strong> {{ user.profile.experience }}</p>
            <p><strong>Rating:</strong> {{ user.profile.rating }}</p>
        {% endif %}
    </div>


    <!-- Conditional Sections for Guides and Tourists -->
    {% if user.profile.is_guide %}
    <a href="{% url 'tours:create' %}">Create New Tour</a>
    <a href="{% url 'tours:bookings_of_guide' %}">Who has booked?</a>
        <div class="guide-section">
            <h2>My Tours</h2>
            {% for tour in user.profile.tours.all %}
                <div class="tour">
                    <h3>{{ tour.title }}</h3>
                    <p>{{ tour.description }}</p>
                    <p>Price: ${{ tour.price }}</p>
                    <p>Duration: {{ tour.duration }} hours</p>
                    <p>Location {{ tour.location }} </p>
                    <a href="{% url 'tours:edit' tour.id  %}">Edit</a>
                    {% if tour.images.all %}
                        <div class="tour-images">
                            {% for image in tour.images.all %}
                                {% if forloop.counter <= 4 %}
                                    <a href="{{ image.image.url }}" data-lightbox="tour-images-{{ tour.id }}" data-title="{{ tour.title }}">
                                        <img src="{{ image.image.url }}" alt="Image of {{ tour.title }}" class="tour-image img-fluid">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if tour.images.count > 4 %}
                            <div class="more-images-overlay" data-toggle="modal" data-target="#tourImagesModal{{ tour.id }}">
                                <span>+{{ tour.images.count|add:"-4" }}</span>
                            </div>
                        {% endif %}
                        <div class="modal fade" id="tourImagesModal{{ tour.id }}" tabindex="-1" role="dialog" aria-labelledby="tourImagesModalLabel{{ tour.id }}">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="tourImagesModalLabel{{ tour.id }}">{{ tour.title }} Images</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for image in tour.images.all %}
                                            <img src="{{ image.image.url }}" alt="Image of {{ tour.title }}" class="img-fluid mb-2">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>No images available.</p>
                    {% endif %}
                </div>
                </div>
        {% empty %}
            <p>No tours listed yet.</p>
        {% endfor %}

        </div>
    {% else %}
        <a href="{% url 'tours:tourist_bookings' %}">My Bookings</a>
        <div class="tourist-section">
            <h2>My Bookings</h2>
            {% for booking in user.profile.bookings.all %}
                <div class="booking">
                    <h3>{{ booking.tour.title }}</h3>
                    <p>Booked for: {{ booking.booking_date }}</p>
                    <!-- Add more details here -->
                </div>
            {% empty %}
                <p>No bookings made yet.</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    // After the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        // Find all overlays
        var overlays = document.querySelectorAll('.more-images-overlay');
        // Attach click event listeners to each overlay
        overlays.forEach(function(overlay) {
            overlay.addEventListener('click', function() {
                // Retrieve the ID from the data-target attribute
                var target = this.getAttribute('data-target');
                // Use the ID to find the corresponding modal
                var modal = document.querySelector(target);
                if (modal) {
                    // Show the modal
                    $(modal).modal('show'); // Bootstrap requires jQuery for this
                }
            });
        });
    });
</script>
{% endblock %}