{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock extra_styles %}

{% block content %}
<div class="background-image"></div> <!-- Background image layer -->
<main class="container mt-5">
    <h2 class="text-center mb-4">Explore the World<br>Your adventure starts here</h2>
    <p class="text-center mb-5">Welcome to our tourism platform where adventure awaits at every corner. Browse through a wide range of tours, find your perfect match, and start your journey!</p>

    <!-- Search Form and Filter Panel -->
    <div class="row justify-content-center mb-4 search-bar">
        <div class="col-md-10">
            <div class="filter-panel">
                <form id="search-form" method="get">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="priceLow">Minimum price</label>
                            <input type="number" class="form-control" id="priceLow" name="priceLow">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="priceHigh">Maximum Price</label>
                            <input type="number" class="form-control" id="priceHigh" name="priceHigh">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Tour Cards -->
    <div class="row">
        {% for tour in tours %}
        <div class="col-md-4 mb-4">
            <div class="card tour-card">
                {% if tour.images.all %}
                <img src="{{ tour.images.all.first.image.url }}" class="card-img-top" alt="{{ tour.title }}">
                {% else %}
                <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="{{ tour.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title }}</h5>
                    <p class="card-text">{{ tour.description }}</p>
                    <p class="card-text">Price: {{ tour.price }} AMD</p>
                    <p class="card-text">Start Date: {{ tour.availability_start }}</p>
                    <p class="card-text">End Date: {{ tour.availability_end }}</p>
                    <p class="card-text">Location: {{ tour.location }}</p>
                    <a href="{% url 'users:login' %}?next={% url 'tours:book_tour' tour.id %}" class="btn btn-primary">Book Now</a>
                    <a href="{% url 'tours:add_to_wishlist' tour.id %}" class="btn btn-outline-danger"><i class="fa fa-heart"></i> Add to Wishlist</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
<script>
    document.getElementById('search-button').addEventListener('click', function(e) {
        e.preventDefault();
        let form = document.getElementById('search-form');
        let params = new URLSearchParams(new FormData(form)).toString();
        let nextUrl = `{% url 'tours:search_tours' %}?${params}`;
        window.location.href = `{% url 'users:login' %}?next=${encodeURIComponent(nextUrl)}`;
    });
</script>
{% endblock content %}
