{% extends "base.html" %}
{% load static %}
{% block title %}Tourism Platform{% endblock title %}

{% block extra_styles %}
    {{ block.super }}
    <!-- Additional CSS files can be added here if needed -->
{% endblock extra_styles %}

{% block content %}
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Explore the World</h2>
                <h3>Your adventure starts here</h3>
            </hgroup>
            <p>Welcome to our tourism platform where adventure awaits at every corner. Browse through a wide range of tours, find your perfect match, and start your journey!</p>
            <figure>
                <img src="{% static 'img/web_page_image.webp' %}" alt="Adventure and Exploration">
                <figcaption>An exciting journey awaits.</figcaption>
            </figure>
        </section>
    </div>
</main>
{% endblock content %}
